#restaurantName {
	color: white;
	font-family: Lydian;
}
#footerInfo {
	font-style: italic;
}
@font-face {
	font-family: "Lydian";
	font-style: normal;
	font-weight: 200;
	src: url("LYDIAN__.TTF");
}
a {
	font-weight: none;
}
a:visited {
	color: Black;
}
a:hover {
	font-weight:bold;
}
a:active {
	text-decoration: none;
}